<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="add-employee" class="mt-5">
    	<div class="container">
	    	<div class="row">
	    		<div class="col-md-4 offset-md-4">
	    			<div class="card p-3">
	    				<div class="card-body">
	    					<div th:if="${param.error}" class="alert alert-danger text-center">
	    						<p class="pb-0 mb-0">Username or password is incorrect.</p>
	    					</div>
	    					<h2 class="text-center mb-2">Sign in Here</h2>
	    					<form th:action="@{/doLogin}"  method="POST">
	    						<div class="form-group">
	    							<label for="username">Username</label>
	    							<input 
		    							type="text" 
		    							class="form-control"
		    							name="username"
		    							placeholder="Enter Username"
		    							required
		    						/>
	    						</div>
	    						
	    						<div class="form-group">
	    							<label for="password">Password</label>
	    							<input 
		    							type="password" 
		    							class="form-control"
		    							name="password"
		    							placeholder="Enter password"
		    							required
		    						/>
	    						</div>
	    						
	    						<div class="row mt-2">
	    							<div class="col-md-3"> 
	    								<input type="submit" class="btn btn-info" value="Submit" name="submit"/>
	    							</div>
	    						</div>
	    						
	    					</form>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
    </section>
    <!-- JQUERY CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script></body>
</html>